body {
  font-family: "Quicksand", sans-serif !important;
}

.active a {
  color: white !important;
}

@media only screen and (max-width: 590px) {
  .container .row {
    margin-bottom: 15px;
  }
}

.rmty {
  height: fit-content;
  margin-top: 1rem;
  color: blue;
  border: solid 1px blue;
  background: rgba(247, 242, 242, 0.562);
}

.prs {
  color: blue;
  border: solid 1px blue;
  background: rgba(247, 242, 242, 0.562);
}

.prs:hover {
  background: #2e8bc0;
  color: white;
  border: solid 1px white;
}

.rmty:hover {
  background: #2e8bc0;
  color: white;
  border: solid 1px white;
}

.rmty,
.prs,
.CV {
  transition-property: background, color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.list-unstyled a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.list-unstyled a:hover {
  color: #2e8bc0;
}
